*, *:after, *:before {
    margin: 0;
    padding: 0;
}

body {
    background: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    color: #474747;
}

.appTitle {
    margin-top: 32px;
    text-align: center;
}

.userCard {
    max-width: max-content;
    height: 500px;
    margin: 200px auto 64px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 10px 1px #b9b9b9;
}

.userPicture {
    display: block;
    width: 150px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 2px 10px 2px #979797;
    position: relative;
    top: 16px;
}

.userData {
    font-size: 20px;
    width: 95%;
    text-align: justify;
    margin: 32px 16px 8px 16px;
    line-height: 48px;
    word-wrap: break-word;
}

.getUser {
    display: block;
    margin: 0 auto;
    background: #474747;
    padding: 24px;
    color: #fff;
    font-size: 24px;
    border-radius: 8px;
    border: none;
}

.getUser:hover {
    background: #575757;
}

.getUser:active {
    background: #676767;
}